---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import StrategyPromo from '../components/StrategyPromo.astro';
import DownloadWebinars from '../components/DownloadWebinars.astro';
---

<Layout title="Black Friday Webinar - Windup">
	<main class="w-full">
		<Hero />
		<StrategyPromo />
		<DownloadWebinars />
	</main>
</Layout>